# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python specific
__pycache__/
*.py[cod]
*$py.class

# project specific
doc/
linux/*
.vscode/
!linux/Makefile_A71CH
!linux/buildA71CH.sh
!linux/packageA71chOpenSslEngine.sh
toradex/certs/*
toradex/files/*
toradex/old/*
toradex/target/a71chtdx
!toradex/target/a71chtdx.c
*.cer
*.csr
*.pem
*.srl

!.keep
